In [ ]:
!pip install joblib

Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (0.14.1)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
import joblib

In [ ]:
!wget https://raw.githubusercontent.com/rstudio/keras-customer-churn/master/data/WA_Fn-UseC_-Telco-Customer-Churn.csv

--2020-03-27 10:57:23--  https://raw.githubusercontent.com/rstudio/keras-customer-churn/master/data/WA_Fn-UseC_-Telco-Customer-Churn.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 977501 (955K) [text/plain]
Saving to: ‘WA_Fn-UseC_-Telco-Customer-Churn.csv’

WA_Fn-UseC_-Telco-C 100%[===================>] 954.59K  --.-KB/s    in 0.08s

2020-03-27 10:57:24 (12.2 MB/s) - ‘WA_Fn-UseC_-Telco-Customer-Churn.csv’ saved [977501/977501]

In [ ]:
df = pd.read_csv("/content/WA_Fn-UseC_-Telco-Customer-Churn.csv")
df.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95       1889.5     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
customerID          7043 non-null object
gender              7043 non-null object
SeniorCitizen       7043 non-null int64
Partner             7043 non-null object
Dependents          7043 non-null object
tenure              7043 non-null int64
PhoneService        7043 non-null object
MultipleLines       7043 non-null object
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null object
Churn               7043 non-null object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [ ]:
features = ['Partner',
            'Dependents',
            'tenure',
            'PhoneService',
            'MultipleLines',
            'InternetService',
            'OnlineSecurity',
            'OnlineBackup',
            'DeviceProtection',
            'TechSupport',
            'StreamingTV',
            'StreamingMovies',
            'Contract',
            'PaperlessBilling',
            'PaymentMethod',
            'Churn']

df = df.dropna(axis='columns')
df = df[features]
df.head()

  Partner Dependents  tenure  ... PaperlessBilling              PaymentMethod Churn
0     Yes         No       1  ...              Yes           Electronic check    No
1      No         No      34  ...               No               Mailed check    No
2      No         No       2  ...              Yes               Mailed check   Yes
3      No         No      45  ...               No  Bank transfer (automatic)    No
4      No         No       2  ...              Yes           Electronic check   Yes

[5 rows x 16 columns]

In [ ]:
df.Partner.unique()

array(['Yes', 'No'], dtype=object)

In [ ]:
df.PaymentMethod.unique()

array(['Electronic check', 'Mailed check', 'Bank transfer (automatic)',
       'Credit card (automatic)'], dtype=object)

In [ ]:
numeric_features = ['Partner', 'Dependents', 'PhoneService', 'MultipleLines','OnlineSecurity', 'OnlineBackup','DeviceProtection', 'TechSupport','StreamingTV', 'StreamingMovies', 'PaperlessBilling', 'Churn']
def to_numberic(s):
  if s == "Yes":
    return 1
  elif s == "No":
    return 0
  else: return -1

for feature in numeric_features:
  df[feature] = df[feature].apply(to_numberic)

In [ ]:
df.head()

   Partner  Dependents  ...              PaymentMethod  Churn
0        1           0  ...           Electronic check      0
1        0           0  ...               Mailed check      0
2        0           0  ...               Mailed check      1
3        0           0  ...  Bank transfer (automatic)      0
4        0           0  ...           Electronic check      1

[5 rows x 16 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 16 columns):
Partner             7043 non-null int64
Dependents          7043 non-null int64
tenure              7043 non-null int64
PhoneService        7043 non-null int64
MultipleLines       7043 non-null int64
InternetService     7043 non-null object
OnlineSecurity      7043 non-null int64
OnlineBackup        7043 non-null int64
DeviceProtection    7043 non-null int64
TechSupport         7043 non-null int64
StreamingTV         7043 non-null int64
StreamingMovies     7043 non-null int64
Contract            7043 non-null object
PaperlessBilling    7043 non-null int64
PaymentMethod       7043 non-null object
Churn               7043 non-null int64
dtypes: int64(13), object(3)
memory usage: 880.5+ KB

# Preprocess Data

In [ ]:
#check for any null values
df.isnull().sum()

Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
Churn               0
dtype: int64

In [ ]:
categorical_features = [
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod']
df = pd.get_dummies(df, columns=categorical_features, dummy_na=False)

In [ ]:
#move churn col to the last column
churn = df.Churn
df.drop('Churn', inplace=True, axis=1)
df['Churn'] = churn

In [ ]:
df.head()

   tenure  Partner_0  ...  PaymentMethod_Mailed check  Churn
0       1          0  ...                           0      0
1      34          1  ...                           1      0
2       2          1  ...                           1      1
3      45          1  ...                           0      0
4       2          1  ...                           0      1

[5 rows x 41 columns]

In [ ]:
model_columns = list(df.columns)
model_columns.remove('Churn')
joblib.dump(model_columns, 'model_columns.pkl')

['model_columns.pkl']

In [ ]:
df.head()

   tenure  Partner_0  ...  PaymentMethod_Mailed check  Churn
0       1          0  ...                           0      0
1      34          1  ...                           1      0
2       2          1  ...                           1      1
3      45          1  ...                           0      0
4       2          1  ...                           0      1

[5 rows x 41 columns]

# Model Training

In [ ]:
X = df.drop(labels='Churn',axis=1)
Y = df.Churn

In [ ]:
X.shape, Y.shape

((7043, 40), (7043,))

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.3, random_state=42)

## Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

model = LogisticRegression()
lr = model.fit(X_train, y_train)
prediction_test = model.predict(X_test)
# Print the prediction accuracy
print (metrics.accuracy_score(y_test, prediction_test))
joblib.dump(lr, 'model.pkl')

0.8121154756270705

['model.pkl']

##Prediction

In [ ]:
import random
def random_bool():
    return random_number()

def random_number(low=0, high=1):
    return random.randint(low,high)

def generate_data():
    internetServices = ['DSL', 'Fiber optic', 'No']
    contracts = ['Month-to-month', 'One year', 'Two year']
    paymentMethods = ['Electronic check', 'Mailed check', 'Bank transfer (automatic)','Credit card (automatic)']

    random_data = {
            'name':'customer',
            'Partner': random_bool(),
            'Dependents': random_bool(),
            'tenure': random_number(0,50),
            'PhoneService': random_bool(),
            'MultipleLines': random_number(-1),
            'InternetService': random.choice(internetServices),
            'OnlineSecurity': random_number(-1),
            'OnlineBackup': random_number(-1),
            'DeviceProtection': random_number(-1),
            'TechSupport': random_number(-1),
            'StreamingTV': random_number(-1),
            'StreamingMovies': random_number(-1),
            'Contract': random.choice(contracts),
            'PaperlessBilling': random_bool(),
            'PaymentMethod': random.choice(paymentMethods)
        }
    return random_data

In [ ]:
random_user_data = generate_data()
#https://towardsdatascience.com/a-flask-api-for-serving-scikit-learn-models-c8bcdaa41daa
query = pd.get_dummies(pd.DataFrame(random_user_data, index=[0]))
query = query.reindex(columns=model_columns, fill_value=0)

#return prediction as probability in percent
print(model.predict_proba(query))
prediction = round(model.predict_proba(query)[:,1][0], 2)* 100

[[0.79329917 0.20670083]]

In [ ]:
prediction

21.0

In [ ]:
round(result.predict_proba(query)[:,1][0], 2)* 100

36.0